/* Structure */
div {
    margin: 20px;
}
.mat-table {
    width: 100%;
    background-color: blanchedalmond;
  }
.mat-paginator {
    background-color: burlywood;
}
.mat-header-cell{
    font-size: 20px;
}

  